body                                                   {background-color:#F9F9F9;}
.pageWraper                                            {max-width:1061px;margin:auto;padding-top:30px;padding-bottom: 10px;}
footer .footer-container {padding-bottom: 120px;}
/*

header#masthead {display: none;}
footer {display: none;}


.qcontener      {display:flex;justify-content:flex-start; gap:30px;flex-wrap:wrap; row-gap:30px;align-items:baseline;}
*/
.qcontener                                                {display:flex; gap:30px; flex-wrap:wrap; row-gap:30px; align-items:baseline; height:150px; position:relative; z-index:1000;}
.qcontener.two                                            {height:300px; z-index:0;}
/*
.question       {position:relative;flex-wrap:wrap;border-radius:12px;background:#F0F0F0;box-shadow:2px 2px 4px 0px rgba(0, 0, 0, 0.12) inset;backdrop-filter:blur(11px);width:333px;min-height:151px;padding:15px;box-sizing:border-box;}
 */
.question                                              {position:relative; flex-wrap:wrap; border-radius:12px; background:#F0F0F0; box-shadow:2px 2px 4px 0px rgba(0, 0, 0, 0.12) inset; backdrop-filter:blur(11px); width:333px; min-height:151px; padding:15px; box-sizing:border-box; float:right;}
.question.questionOpen                                 {margin-bottom:-250px ;}
/*.question.disabled {    opacity:0.3;}
*/
.question.extended.disabled                             {opacity:0.7;}
.question.extended.disabled:after                       {content:" "; display:block; height:100%; width:100%; position:absolute; top:0; left:0; z-index:20000; border-radius:12px; background:#F0F0F0; opacity:0.7;}
.question.tested                                          {border:1px solid #00FFA3;}
.question[validated="false"]                              {border:1px solid red;}
.question[validated="false"] .error                       {display:block;}
.questionaaa                                           {margin-bottom:-250px;z-index:100000;}
.question span                                         {color:#171E37;font-family:Poppins;font-size:13px;font-style:normal;font-weight:400;line-height:22px;}
.question span.aq                                      {align-self:flex-start;height:83px; display:block;}
 .question span.aq.slct                                {height:77px;}
 .question span.aq.rangeq                              {height:59px;}
 .question .aa                                         {align-self:flex-end;width:100%;position:relative;height:18px;}
 .question .aa img                                     {position:absolute; top:0; right:0; z-index:1500; cursor:pointer; }
 .question .aa .range-wrap img                         {top:-20px; right:-32px; }
 .question .aa img:hover                               {-webkit-filter:invert(100%) contrast(3) grayscale(1) sepia(0); filter:invert(100%)brightness(3) contrast(3) grayscale(1) sepia(0);}
.question span.comments                                {color:#171E37;font-family:Poppins;font-size:9px;font-style:normal;font-weight:400;line-height:120%; padding-top:6px; display:block;}
input,select                                           {display:block;}
h1                                                     {color:#171E37;font-family:Poppins;font-size:35px;font-style:normal;font-weight:900;line-height:normal;}
h2                                                     {color:#171E37;font-family:Poppins;font-size:30px;font-style:normal;font-weight:900;line-height:120%;margin-top:60px !important;margin-bottom:20px !important;}
p                                                      {color:#171E37;font-family:Poppins;font-size:16px;font-style:normal;font-weight:400;line-height:28px;}
input[type=range], input.type_range                                      {-webkit-appearance:none;margin:46px 0 10px 0;width:100%;}
input[type=range]:focus,input.type_range:focus                                 {outline:none;}
input[type=range]::-webkit-slider-runnable-track       {width:100%;height:1px;cursor:pointer;animate:0.2s;background:transparent;border-radius:25px;}
input[type=range]::-webkit-slider-thumb                {height:18px;width:18px;border-radius:50%;background:#00FFA3;border:2px solid  #171E37;cursor:pointer;-webkit-appearance:none;margin-top:-8px;}
input[type=range]:focus::-webkit-slider-runnable-track {background:transparent;height:1px;}

input.type_range, input.type_range                                      {-webkit-appearance:none;margin:46px 0 10px 0;width:100%;}
input.type_range:focus,input.type_range:focus                                 {outline:none;}
input.type_range::-webkit-slider-runnable-track       {width:100%;height:1px;cursor:pointer;animate:0.2s;background:transparent;border-radius:25px;}
input.type_range::-webkit-slider-thumb                {height:18px;width:18px;border-radius:50%;background:#00FFA3;border:2px solid  #171E37;cursor:pointer;-webkit-appearance:none;margin-top:-8px;}
input.type_range:focus::-webkit-slider-runnable-track {background:transparent;height:1px;}



input.type_range::-webkit-slider-runnable-track       {width:100%;height:1px;cursor:pointer;animate:0.2s;background:transparent;border-radius:25px;}
input.type_range::-webkit-slider-thumb                {height:18px;width:18px;border-radius:50%;background:#00FFA3;border:2px solid  #171E37;cursor:pointer;-webkit-appearance:none;margin-top:-8px;}
input.type_range:focus::-webkit-slider-runnable-track {background:transparent;height:1px;}


.range-wrap                                            {width:100%;position:relative;max-width:244px;margin:auto;}
.range-value                                           {position:absolute;top:22px;}
.range-value span                                      {width:75px;height:27px;line-height:27px;text-align:center;background:#171E37;color:#F9F9F9;font-size:18px;display:block;position:absolute;left:50%;transform:translate(-50%, 0);border-radius:6px;top:-64px;}
.range-value span:before                               {content:"";position:absolute;width:0;height:0;border-top:10px solid #171E37;border-left:10px solid transparent;border-right:10px solid transparent;top:87%;left:50%;margin-left:-10px;margin-top:-1px;z-index:-1;}
input                                                  {color:#000;font-family:Poppins;font-size:18px;font-style:normal;font-weight:700;line-height:120%;width:100%;background:transparent;border:none;border-bottom:1px solid #000;}
/*
:after{
 content:"";background-image:url(/wp-content/uploads/2023/12/infoqm.svg);background-repeat:no-repeat;width:10px;height:16px;}
*/
input::placeholder                                     {color:#A4A4A4;opacity:1;}
input::-ms-input-placeholder                           {color:#A4A4A4;}
.infoCard                                              {display:none;position:absolute;top:0;left:0;height:100%;color:#FFF;font-family:Poppins;font-size:13px;font-style:normal;font-weight:400;line-height:22px;background:#171E37;border-radius:12px;padding:15px;box-sizing:border-box;z-index:2;width:100%;}
ul.list-unstyled                                       {    padding: 0;
  margin: 0;list-style: none; height:30px;width:100%;border-bottom:1px #000 solid;font-family:Poppins;font-size:18px;font-style:normal;font-weight:700;line-height:120%;color:#A4A4A4;}
ul.list-unstyled:after                                 {content:"";background-image:url(/wp-content/uploads/2024/02/ddlarrow.svg);background-repeat:no-repeat;width:10px;height:16px;display:block;position:relative;left:96%;top:-23px;transform:rotate(0deg);transition-duration:0.3s;transition-property:transform;}
ul.list-unstyled.dropdownOPen li                       {background-color:#F0F0F0;z-index:15000;position:relative;}
ul.list-unstyled.dropdownOPen:after                    {transform:rotate(-90deg);}
ul.list-unstyled li                                    {padding:5px 10px 5px 0px;z-index:2;}
ul.list-unstyled li:not(.init)                         {float:left;width:100%;width:-webkit-fill-available;display:none;}
ul.list-unstyled  li:not(.init):hover,
ul.list-unstyled  li.selected:not(.init)               {color:#000;}
ul.list-unstyled li.init                               {cursor:pointer;color:#A4A4A4;}
ul.list-unstyled li.init.selectedOnce                  {color:#000;}
a#submit                                               {z-index:1;}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button                          {-webkit-appearance:none;margin:0;}

/* Firefox */
input[type=number]                                        {-moz-appearance:textfield;}
.header                                                   {display:flex;justify-content: space-between;}
.left                                                     {width:654px;}
.right                                                    {width:300px;}
input.radio                                      {display:inline-block;width:inherit;}

.radioSelect                                              {color:#171E37;font-family:Poppins;font-size:14px;font-style:normal;font-weight:700;vertical-align:middle;line-height:100%;display:inline-block;margin-right:15px;cursor:pointer;}
.radioSelect:before                                       {content:" ";height:24px;width:24px;background-color:#DFE5E7;display:inline-block;border:1px solid #BEBEBE;border-radius:50%;vertical-align:middle;margin-right:5px;}
.radioSelect.selected:before                              {background-image:url('/wp-content/uploads/2023/12/checkselect.svg');background-repeat:no-repeat;background-position:center center;}

#table-container-calc                                     {position:absolute; top:40px; left:0; background-color:#34F1BA; z-index:1500000;  width:550px; padding:10px;padding:10px;max-height:100%;overflow:scroll;}
#table-container-calc:after                               {content:" "; background-color:red ;height:100px;width:100px; }
.fbanner                                                  {position:fixed;bottom:-155px;background-color:#171E37;width:100%;z-index:1500;transition: bottom 1s ease 0.2s;}
.fbanner.up {
transition: bottom 1s ease 0.2s;
bottom: 0;
}





.fbanner h2                                               {color:#00FFA3;margin:auto;font-family:Poppins;font-size:30px;font-style:normal;font-weight:700;line-height:53px;}
.fbanner h4                                               {color:#F9F9F9;margin-top:0;margin-bottom:1px;text-align:center;font-family:Poppins;font-size:32px;font-style:normal;font-weight:700;line-height:120%;}
.fbanner span                                             {color:#F9F9F9;text-align:center;font-family:Poppins;font-size:13px;font-style:normal;font-weight:400;line-height:18px;}
.fbanner .inner .roihl span.smaller                                     {font-size:10px;}
.inner                                                    {display:flex;max-width:805px;margin:auto;gap:40px;padding:26px 0 34px 0;}
.inner > *                                                {flex:1;}
.inner div                                                {height:100px;flex-direction:column;display:flex;align-items:center;justify-content:center;}
.fbanner .inner .green_c span                                  {display:block;}
.fbanner .inner .roihl span                                   {display:block;color: #F9F9F9;font-size: 16px;font-style: normal;font-weight: 700;line-height: 18px; }

.button_c                                                 {margin-top:53px;border-radius:12px;background:#2CE2B4;color:#171E37;border:0;text-align:center;font-family:Poppins;font-size:18px;font-style:normal;font-weight:500;line-height:normal;padding:12px 17px;}
#mktoForm_1860 > div:nth-child(8)                         {width:100%;}
#Lead_Comments__c                                         {color:#000;}
.mktoForm input[type=text], 
.mktoForm input[type=url], 
.mktoForm input[type=email], 
.mktoForm input[type=tel], 
.mktoForm input[type=number], .mktoForm input.type_number,
.mktoForm input[type=date], 
.mktoForm textarea.mktoField, 
.mktoForm select.mktoField                             {color:#000;}
.speedBtn::after, 
.mktoButton::after,
.speedBtn::before, 
.mktoButton::before                                    {display:none;}
.mktoButton:hover                                      {animation:none !important;animation-iteration-count:none !important;box-shadow:none !important;text-shadow:none !important;}
.mktoButton                                            {width:220px;border-radius:5px !important;background-color:#02f0b9 !important;color:#000!important;}
.mktoForm .mktoButtonWrap.mktoSimple .mktoButton       {width:220px;}
.mktoButtonWrap.mktoSimple                             {text-align:center;width:100%;}

.green_c                                               {border-radius:8.378px;background:#00FFA3;box-shadow:0px 4.435px 4.435px 0px rgba(0, 0, 0, 0.35);}
.green_c h4, .green_c span                             {color:#171E37;}

.overLay                                               {background-color:rgba(255, 255, 255, 0.8);position:fixed;width:100%;height:100%;z-index:1000000;top:0;left:0;/* display:flex; */display:none;}
.popUp                                                 {display:flex;width:1200px;margin:auto;background:#000;margin-bottom:auto;margin-top:auto;background-color:rgba(0, 0, 0, 0.8);text-align:center;color:#fff;border-radius:22px;flex-direction:column;padding:60px 0;}
.pulogo                                                {width:120px;margin:auto;}
.popUp *                                               {color:#fff;}


.popUp h2                                              {margin-top:0 !important;margin-bottom:0 !important;}
.form-wrap .form-subtitle                              {color:#171E37;text-align:center;font-family:Poppins;font-size:14px;font-style:normal;font-weight:400;line-height:normal;margin-bottom:20px;}
.mktoForm .mktoFormRow .mktoFormCol                    {border-radius:4px;height:100%;border:1px solid #F4F7F8;background:#F4F7F8;width:100%;margin-bottom:0 !important;}
.mktoForm .mktoFormRow .mktoFormCol:hover              {border:1px solid #2CE2B4; }
.lp-container                                          {width:1260px;gap:30px;}
.mktoForm                                              {max-width: 58% !important;display:flex;flex-wrap:wrap;gap:15px 20px;width:860px !important;align-items:center;    justify-content: space-between;margin:auto;}
.mktoButtonWrap.mktoSimple                             {margin-left:unset !important;}
.mktoButtonRow                                         {padding-bottom:20px !important;margin:auto;width:100%;text-align:center !important;}
input[type=hidden]                                   {margin-bottom:0 !important;}
#main > section.home-hero > div                        {width:1560px;}
#mktoFform_1747 > div:nth-child(8)                     {width:98%;height:80px;}
#mktoForm_1747 > div:nth-child(2),
#mktoForm_1747 > div:nth-child(3),
#mktoForm_1747 > div:nth-child(4),
#mktoForm_1747 > div:nth-child(5),
#mktoForm_1747 > div:nth-child(6),
#mktoForm_1747 > div:nth-child(7)                      {width:47%;}
.mktoForm input[type=text],
.mktoForm input[type=url],
.mktoForm input[type=email],
.mktoForm input[type=tel],
.mktoForm input[type=number],.mktoForm input.type_number,
.mktoForm input[type=date],
.mktoForm textarea.mktoField,
.mktoForm select.mktoField                             {background-color:transparent;height:40px;font-size:14px;font-style:normal;font-weight:400;line-height:27px;}
.mktoForm .mktoAsterix                                 {float:right;color:#2CE2B4;padding-left:5px;display:none;position:absolute;top:13px;}
.mktoForm .mktoOffset                                  {position:absolute;}
#mktoForm_1747 > div:nth-child(9),
#mktoForm_1747 > div:nth-child(10),
#mktoForm_1747 > div:nth-child(11),
#mktoForm_1747 > div:nth-child(12),
#mktoForm_1747 > div:nth-child(13),
#mktoForm_1747 > div:nth-child(14),
#mktoForm_1747 > div:nth-child(15),
#mktoForm_1747 > div:nth-child(16),
#mktoForm_1747 > div:nth-child(17),
#mktoForm_1747 > div:nth-child(18),
#mktoForm_1747 > div:nth-child(19)                     {display:none;}
.mktoForm .mktoLabel                                   {margin-bottom:0;padding-top:0em;}
.mktoField                                             {border:none;}
.mktoForm select.mktoField ,                      
.mktoForm select.mktoField option                      {color:#000;}
.closep                                                {margin-top:0;}
.close                                                 {text-decoration:underline;cursor:pointer;font-size:20px;font-style:normal;font-weight:300;line-height:28px;}
h2.yourteam{margin-top: 20px;}
p.pf {font-size: 14px;}
@media screen and (max-width:576px) {
.header {flex-wrap: wrap;}
.qcontener,.qcontener.two {height: inherit;}
.fbanner { display:none ;}
#launcher {display: none;}
.qcontener {justify-content: space-evenly;align-items: center;}
h2 {font-size: 25px; padding-left: 5%;}
}

@media screen and (max-width:1214px) {
.mktoForm {    max-width: 39% !important;}
.overLay { overflow: scroll;}
}
@media screen and (max-width:1000px) {
.popUp {width: 100%;}
.mktoForm {max-width: 84% !important;}
.mktoField {width: 100% !important;}

.left {width: 100%;max-width: 100%;padding: 0 5%;}
.radioSelect {margin-bottom: 20px;}
}


.mktoForm .mktoFieldWrap {width:100%;}
input[type=number] {margin:0 !important;} 
.mktoForm .mktoFormRow {    width: 30%;}

input,textarea {

  outline: none !important;
}
  
