



@font-face {
    font-family: "Poppins", sans-serif;
    src: url(Poppins/Poppins-Thin.ttf) format('truetype');
    src: url(Poppins/Poppins-Thin.woff2) format('truetype');
    font-display: swap;

    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Poppins", sans-serif;
    src: url(Poppins/Poppins-ExtraLight.ttf) format('truetype');
    src: url(Poppins/Poppins-ExtraLight.woff2) format('truetype');
    font-display: swap;
  
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Poppins", sans-serif;
    src: url(Poppins/Poppins-Light.ttf) format('truetype');
    src: url(Poppins/Poppins-Light.woff2) format('truetype');
 
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "Poppins";
    src: url(Poppins/Poppins-Regular.ttf) format('truetype');
    src: url(Poppins/Poppins-Regular.woff2) format('truetype');
 
    font-weight: 400;
    font-style: normal;
  }

  
  @font-face {
    font-family: "Poppins", sans-serif;
    src: url(Poppins/Poppins-Medium.ttf) format('truetype');
    src: url(Poppins/Poppins-Medium.woff2) format('truetype');
 
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Poppins", sans-serif;
    src: url(Poppins/Poppins-SemiBold.ttf) format('truetype');
    src: url(Poppins/Poppins-SemiBold.woff2) format('truetype');
 
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Poppins", sans-serif;
    src: url(Poppins/Poppins-Bold.ttf) format('truetype');
    src: url(Poppins/Poppins-Bold.woff2) format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Poppins", sans-serif;
    src: url(Poppins/Poppins-Extrabold.ttf) format('truetype');
    src: url(Poppins/Poppins-Extrabold.woff2) format('truetype');
 
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Poppins", sans-serif;
    src: url(Poppins/Poppins-Black.ttf) format('truetype');
    src: url(Poppins/Poppins-Black.woff2) format('truetype');
 
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Poppins", sans-serif;
    src: url(Poppins/Poppins-ThinItalic.ttf) format('truetype');
    src: url(Poppins/Poppins-ThinItalic.woff2) format('truetype');
 
    font-weight: 100;
    font-style: italic;
  }
  
  @font-face {
    font-family: "Poppins", sans-serif;
    src: url(Poppins/Poppins-ExtraLightItalic.ttf) format('truetype');
    src: url(Poppins/Poppins-ExtraLightItalic.woff2) format('truetype');
 
    font-weight: 200;
    font-style: italic;
  }
  
  @font-face {
    font-family: "Poppins", sans-serif;
    src: url(Poppins/Poppins-LightItalic.ttf) format('truetype');
    src: url(Poppins/Poppins-LightItalic.woff2) format('truetype');
 
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: "Poppins", sans-serif;
    src: url(Poppins/Poppins-Italic.ttf) format('truetype');
    src: url(Poppins/Poppins-Italic.woff2) format('truetype');
 
    font-weight: 400;
    font-style: italic;
  }
  
  @font-face {
    font-family: "Poppins", sans-serif;
    src: url(Poppins/Poppins-MediumItalic.ttf) format('truetype');
    src: url(Poppins/Poppins-MediumItalic.woff2) format('truetype');
 
    font-weight: 500;
    font-style: italic;
  }
  
  @font-face {
    font-family: "Poppins", sans-serif;
    src: url(Poppins/Poppins-SemiBoldItalic.ttf) format('truetype');
    src: url(Poppins/Poppins-SemiBoldItalic.woff2) format('truetype');
 
    font-weight: 600;
    font-style: italic;
  }
  
  @font-face {
    font-family: "Poppins", sans-serif;
    src: url(Poppins/Poppins-BoldItalic.ttf) format('truetype');
    src: url(Poppins/Poppins-BoldItalic.woff2) format('truetype');
 
    font-weight: 700;
    font-style: italic;
  }
  
  @font-face {
    font-family: "Poppins", sans-serif;
    src: url(Poppins/Poppins-ExtraBoldItalic.ttf) format('truetype');
    src: url(Poppins/Poppins-ExtraBoldItalic.woff2) format('truetype');
 
    font-weight: 800;
    font-style: italic;
  }
  
  @font-face {
    font-family: "Poppins", sans-serif;
    src: url(Poppins/Poppins-BlackItalic.ttf) format('truetype');
    src: url(Poppins/Poppins-BlackItalic.woff2) format('truetype');
 
    font-weight: 900;
    font-style: italic;
  }
