<!-- wp:template-part {"slug":"global-header"} /-->

<!-- wp:group {"tagName":"section","className":"darkbg postHeader","layout":{"type":"constrained"}} -->
<section class="wp-block-group darkbg postHeader"><!-- wp:group {"className":"site-block","layout":{"type":"constrained"}} -->
<div class="wp-block-group site-block"><!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"60%"} -->
<div class="wp-block-column" style="flex-basis:60%"><!-- wp:post-title {"textAlign":"left","level":1} /--></div>
<!-- /wp:column -->

<!-- wp:column {"width":"33.33%"} -->
<div class="wp-block-column" style="flex-basis:33.33%"></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","className":"content","layout":{"type":"constrained"}} -->
<section class="wp-block-group content"><!-- wp:group {"className":"site-block","layout":{"type":"constrained"}} -->
<div class="wp-block-group site-block"><!-- wp:cover {"useFeaturedImage":true,"dimRatio":0,"customOverlayColor":"#FFF","contentPosition":"center center","isDark":false,"className":"postcover","layout":{"type":"constrained"}} -->
<div class="wp-block-cover is-light postcover"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-0 has-background-dim" style="background-color:#FFF"></span><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"center","placeholder":"Write title…","fontSize":"large"} -->
<p class="has-text-align-center has-large-font-size"></p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:cover -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:social-links {"className":"is-style-logos-only"} -->
<ul class="wp-block-social-links is-style-logos-only"><!-- wp:social-link {"service":"facebook"} /-->

<!-- wp:social-link {"service":"linkedin"} /-->

<!-- wp:social-link {"service":"x"} /--></ul>
<!-- /wp:social-links -->

<!-- wp:post-content /--></div>
<!-- /wp:group --></section>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"incredibuild-footer"} /-->