.postHeader {
    height: 31em;
    margin-bottom: -16em;
    padding-top: 60px;

}
.postcover{
    border-radius: 12px;
    height: 30vw;
}
.tocwrap  {
    border-radius: 13.793px;
    background: #EAEAEA;
    padding: 32px;
    margin-bottom: 50px;
}
.tocwrap h2 {
    font-size: 40px;
}
.tocwrap ol{
    padding-left: 28px;
}
.tocwrap ol li a{
text-decoration: none;
  
    font-size: 14px;
color:rgb(27, 27, 27);
    font-weight: 500;
    line-height: 33px;
}

.postBanner {
    border-radius: 12px;
    background: #171E37;
    padding: 45px 32px;
    color:#fff;
}
.postBanner p.h2like{
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 120%;
}
p.likeh2{
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 120%;
}
.wp-block-button a.wp-element-button{margin-left:0;
    margin-right:0;}
    .prof  {
        border-bottom: 1px solid #000;
    }
        .prof .wp-block-cover  {
 min-height: 92px;
        
    }        .prof .wp-block-cover__image-background {
        border-radius: 50%;
               
           }

           @media only screen and (max-width: 1000px) {
           body.single-post > div.wp-site-blocks > section.wp-block-group.content.is-layout-constrained.wp-block-group-is-layout-constrained > div > div.entry-content.wp-block-post-content.is-layout-flow.wp-block-post-content-is-layout-flow > div > div.wp-block-columns.prof.is-layout-flex.wp-container-core-columns-is-layout-5.wp-block-columns-is-layout-flex > div:nth-child(1) > div > div:nth-child(1) {display: none; }
           .wp-block-cover, .wp-block-cover-image {min-height: 180px;}
           section.hallfdarkbg {background: linear-gradient(0deg, transparent 27%, #171E37 10%) !important;}
           }